<!DOCTYPE HTML>
<html>
<head>
  <title>Create Account</title>
  <link rel = "stylesheet" type = "text/css" href = "../static/css/bootstrap.css">
</head>
<main>
  <div class="container-fluid">
    <form action="/register" method="POST">
      <center>
	<h2>
	  Username: <input type="text" name="username">
	  <br><br>
	  Password:  <input type="password" name="password">
	  <br><br>
	  Profile Picture:  <input type="file" name="whEEEE!">
	  <br><br>
	  You:  <div class = "dropdown">
	      <input type = "radio" name = "gender" value ' "male">
	      <input type = "radio" name = "gender" value ' "female">
	      <input type = "radio" name = "gender" value ' "male">
	      <input type = "radio" name = "gender" value ' "male">
	      <input type = "radio" name = "gender" value ' "male">
	      <input type = "radio" name = "gender" value ' "male">
	      <input type = "radio" name = "gender" value ' "male">
	      <input type = "radio" name = "gender" value ' "male">
	    </div>
	  </div>
	  Who you want to date:  <input type="file" name="whEEEE!">
	  <br><br>
	</h2>
	<button class="btn btn-primary btn-lg" input type="submit" name="action" value="Register">Register</button>
  </center>
</form>
  </div>
</main>
</html>
