
<!DOCTYPE html>
<html>
  <head>
    <title>Home </title>
    <link rel="shortcut icon" href="/static/images/icon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  </head>
  <body>
    <!--Header is the same accross all versions of the page-->
<div class="container-fluid">
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
    <h1 class="head">Welcome to Netflix and Chill! </h1>
    </div>
</div>
      <br><br>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
    <button class = "btn btn-info" id="matchbutton" value = {{user}}> Match! </button>
    <button class = "btn btn-info" id="logoutbutton"> Logout </button>
    </div>
</div>

    <!--Form changes depending on what version-->
    <!--Form data is stored in hidden input fields when data is removed--><br>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
    <h3 id="description">                                                                                                                                                                                
      Hello {{user}} you have {{nummessages}} messages!                                                                                                                                                          </h3>
    </div>
</div>
<!---->
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <table class="messages" id="messages">
	{% for message in messages %}
	<tr> <td>{{message[1][0]}} <td>{{message[1][1]}} <td><button class = "btn btn-info" id="idREPLACELATER">Match!</button></tr> </li>
	{% endfor %}
      </table>
    </div>
</div>
<!---->
<script src="../../static/js/jquery-3.1.1.min.js"></script>
<script src="../../static/js/home.js"></script>

  </body>
</html>

