<!DOCTYPE html>
<html>
  <head>
    <title>Meet the Coders</title>
  </head>

  <style type="text/css">

    body {
    padding: 50px;
    }

    tr, td {
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 270px;
    }

  </style>

  <body>
    <h1>Meet the Coders</h1>
    <h2>Team MarbledChocolate</h2>

    <p style="width:600px">We are sorry for the inconvenience! The API we&rsquo;re working with is gets stressed out easily, so we have to sleep our program between requests in order to prevent it from timing out. In the meantime, we hope you&rsquo;ll take the time to read through our team&rsquo;s short but informative bios. It should take about a minute and a half to load, so read quickly!</p>
    
    <table>
      <!-- Bios -->
      <tr>
	<td>
	  <h3>PEASANT MANAGER</h3>
	  <h4>Dhiraj Patel (Front-End)</h4>
	  <img src="../static/images/dirj.jpg" width="270px">
	</td>
	<td>
	  <h3>PEASANT I</h3>
	  <h4>Ely Sandine (Front-End)</h4>
	  <img src="../static/images/ely.jpg" width="270px">
	</td>
	<td>
	  <h3>PEASANT II</h3>
	  <h4>Jonathan Buhler (Back-End)</h4>
	  <img src="../static/images/bool.jpg" width="270px">
	</td>
	<td>
	  <h3>PEASANT III</h3>
	  <h4>Nalanda Sharadjaya (Back-End)</h4>
	  <img src="../static/images/nal.jpg" width="270px">
	</td>
      </tr>
      
      <!-- Taglines -->
      <tr>
	<td> <!-- Dhiraj -->
	  <b>Tagline:</b> &ldquo;If you don't respond to my friend request, I&rsquo;ll report your senior name. #Ely #NeverForget&rdquo;
	</td>
	<td> <!-- Ely -->
	  <b>Tagline:</b> &ldquo;Most people turn on AC&rsquo;s, but for me, it&rsquo;s kind of the other way around...&rdquo;
	</td>
	<td> <!-- Jonathan -->
	  <b>Tagline:</b> &ldquo;Is it just me, or is it hot in here?&rdquo;
	</td>
	<td> <!-- Nala -->
	  <b>Tagline:</b> &ldquo;I&rsquo;m cool. Haha get it B&#41;&rdquo;
	</td>
      </tr>

      <!-- Movies -->
      <tr>
	<td> <!-- Dhiraj -->
	  <b>Favorite movies:</b> Mean Girls, The Parent Trap, Home Alone
	</td>
	<td> <!-- Ely -->
	  <b>Favorite movies:</b> Pirates of the Caribbean: The Curse of the Black Pearl, The Lego Movie, Star Wars, Episode 3: Revenge of the Sith
	</td>
	<td> <!-- Jonathan -->
	  <b>Favorite movies:</b> The Shawshank Redemption, The Big Lebowski, Hot Fuzz
	</td>
	<td> <!-- Nala -->
	  <b>Favorite movies:</b> 10 Things I Hate About You, Good Will Hunting, Love Actually
	</td>
      </tr>

      <!-- Air Conditioners -->
      <tr>
	<td> <!-- Dhiraj -->
	  <b>Favorite ACs:</b><br>
	  <img src="../static/images/img7.jpg" width="80px">
	  <img src="../static/images/img7.jpg" width="80px">
	  <img src="../static/images/img7.jpg" width="80px">
	</td>
	<td> <!-- Ely -->
	  <b>Favorite ACs:</b><br>
	  <img src="../static/images/img0.jpg" width="80px">
	  <img src="../static/images/img3.jpg" width="80px">
	  <img src="../static/images/img8.jpg" width="80px">
	</td>
	<td> <!-- Jonathan -->
	  <b>Favorite ACs:</b><br>
	  <img src="../static/images/img2.jpg" width="80px">
	  <img src="../static/images/img4.jpg" width="80px">
	  <img src="../static/images/img6.jpg" width="80px">
	</td>
	<td> <!-- Nala -->
	  <b>Favorite ACs:</b><br>
	  <img src="../static/images/img3.jpg" width="80px">
	  <img src="../static/images/img5.jpg" width="80px">
	  <img src="../static/images/img6.jpg" width="80px">
	</td>
      </tr>
      
    </table>
    <form action = "/create/" method="POST" id="form">
      <input type = "hidden" name="user" value={{user}}>
      <input type = "hidden" name="p1" value={{p1}}>
      <input type = "hidden" name="p2" value={{p2}}>
      <input type = "hidden" name="gender" value={{gender}}>
      <input type = "hidden" name="pref" value={{pref}}>
      <input type = "hidden" name="movie0" value={{movie0}}>
      <input type = "hidden" name="movie1" value={{movie1}}>
      <input type = "hidden" name="movie2" value={{movie2}}>
      <input type = "hidden" name="i0" value={{i0}}>
      <input type = "hidden" name="i1" value={{i1}}>
      <input type = "hidden" name="i2" value={{i2}}>
      <input type = "hidden" name="create" id = "create" value={{create}}>
    </form>
    <script src="../../static/js/intro.js"></script>
  </body>
</html
