<!DOCTYPE html>
<html>
  <head>
    <title>Login </title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  </head>
  <body>
    <!--Header is the same accross all versions of the page-->
    <h1 class="head">
      Welcome to Netflix and Chill! 
      <br><br><br>
      <button class = "btn btn-info" id="registerbutton"> Sign Up </button>
      <button class = "btn btn-info" id="loginbutton"> Login </button>
    </h1>
    <!--Form changes depending on what version-->
    <!--Form data is stored in hidden input fields when data is removed--><br>
    <h3 id="description">
      Enter your username and password.
    </h3>
    <form class="form" id="f1">
    
        <input type = "text" class="textfield" name="user" value="Username" required><br><br>
        <input type = "password" class="textfield" name="password" value="Password" required>

    </form>
    <!--Button changes depending on what step in the login process--><br>
      <center><button class="btn btn-info" id="b1">Next</button></center>
    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/request.js"></script>
    <script src="../../static/js/login.js"></script>
    
  </body>
</html>
