<!DOCTYPE html>
<html>
  <head>
    <title>Message Center</title>
    <link rel="shortcut icon" href="/static/images/icon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  </head>
  <body>
    <!--Header is the same accross all versions of the page-->
<div class="container-fluid">
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
    <h1 class="head">Message Your Matches! </h1>
    </div>
</div>
      <br><br>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
    <button class = "btn btn-info" id="homebutton" value = {{user}}> Home </button>
    <button class = "btn btn-info" id="logoutbutton"> Logout </button>
    </div>
</div>

    <!--Form changes depending on what version-->
    <!--Form data is stored in hidden input fields when data is removed--><br>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
    <h3 id="description">   </h3>                                                                                                                                                                              
      Message Your Friends Below!
</div>
</div>
<!---->
<div class="row" id="form">
    <div class="col-lg-6 col-lg-offset-3 text-center">
                <table class="messages" id="messages">
                    {% for message in messages %}
                          <tr> <td>{{message[0]}}</td> <td>{{message[1]}} </td> </tr>
                    {% endfor %}
                      </table>
        
    <br>
    <form action = "/sendMess/" method="POST">
	<input type = "text" name="text">
	<input type = "hidden" name="user" value={{user}}>
	<input type = "hidden" name="recip" value={{recip}}>
	<input type="submit" value="submit">
      </form>
    </div>
</div>
      </div>
<!---->
<script src="../../static/js/jquery-3.1.1.min.js"></script>
<script src="../../static/js/mess.js"></script>

  </body>
</html>

